################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project06/Assembler/bin
/Project06/Assembler/obj
/Tests/.vs
/Tests/bin
/Tests/obj
/Project07And08/VMTranslator/bin
/Project07And08/VMTranslator/obj
/Project09/PairsCardDataGenerator/bin
/Project09/PairsCardDataGenerator/obj
